.user-list {
  max-height: 600px;
  overflow-y: auto;
}
.user-list::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
.user-list::-webkit-scrollbar-track {
  border-radius: 10px;
}
.user-list::-webkit-scrollbar-thumb {
  background: #889097;
  border-radius: 10px;
  transition: 0.5s;
}
.user-list::-webkit-scrollbar-thumb:hover {
  background: #555;
  transition: 0.5s;
}
.user-display {
  border-radius: 10px;
}
.user-table {
  border: 1px solid  rgb(158 169 255 / 30%);
  border-radius: 10px;
  overflow: hidden;
}
.user-table .folder-tabs.head{padding: 13px 15px !important; font-size: 18px; font-weight: 500; color: #012970; font-family: "Poppins", sans-serif; border-bottom: 1px solid rgb(158 169 255 / 30%);}
.user-table .folder-tabs >div{background-color: #fff;} 
.file-downloader .image-overlay{max-width: 200px; border: 1px solid rgb(158 169 255 / 30%);padding-top: 15px; margin: 0 auto 30px; border-radius: 4px; box-shadow: 0 0 15px rgb(158 169 255 / 33%);}
.file-downloader .image-overlay p{font-size: 14px; font-weight: 500; color: #012970; font-family: "Poppins", sans-serif; margin: 10px 0px !important;}
.user-table .user-list .list{ padding: 5px 15px; border-bottom: 1px solid  rgb(158 169 255 / 30%); transition: all .4s ease; font-size: 14px; font-weight: 500; color: #012970; font-family: "Poppins", sans-serif; cursor: pointer;}
.user-table .user-list .list:last-child{border-bottom: 0px;}
.user-table .user-list .list:hover, .user-table .user-list .list.active{background:#f6f9ff; color: #4154f1;}



.user-img {
  width: 44px;
  height: 44px;
  border: 1px solid rgb(183 183 183);
  border-radius: 50%;
  margin-right: 15px;
}
