.user-list {
  max-height: 600px;
  overflow-y: auto;
}
.user-list::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
.user-list::-webkit-scrollbar-track {
  border-radius: 10px;
}
.user-list::-webkit-scrollbar-thumb {
  background: #889097;
  border-radius: 10px;
  transition: 0.5s;
}
.user-list::-webkit-scrollbar-thumb:hover {
  background: #555;
  transition: 0.5s;
}
.user-display {
  border-radius: 10px;
}
.user-table {
  border: 1px solid #b6b6b6;
  border-radius: 10px;
}
.user-img {
  width: 50px;
  height: 50px;
  border: 1px solid #b6b6b6;
  border-radius: 50%;
  margin-right: 10px;
}
